/* Mystyle */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
    font-size: 3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-size: 2em;
    margin: 0.3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html {
    background-color: rgb(247, 245, 240);
}


/*Header*/

#top{
    background-color: #222f3f;
    height: 8vh;
}

#top img{
    height: 60%;
    padding: 1.2em;
}

#categorie {
    padding-left: 1em;
    background-color: #364757;
    height: 4vh;
    color: white;
    padding-top: 0.8em;
}

#categorie h2{
        display: inline;
}

/*Main*/

main{
    width: 95%;
    margin: 3em auto;
    text-align: center;
}

#scrittaOrange{
    background-color: #f36700 ;
    padding: 0.5em;
    color: white;
}

#primo-blocco {
    background-image: url('./images/bg-image.png');
    background-size: 100%;
    margin: 2em 0;
    background-repeat: repeat;
    height: 14em;
    color: white;
 }

 #scritta-primo-blocco{
    padding-top: 3em;
 }

  #scritta-primo-blocco h1 {
    margin-bottom: 0.5em;
 }

 #secondo-blocco {
    background-color: white;
 }

 #secondo-blocco img{
    width: 22%;
    height: 600px;
    border-radius: 20px;
    margin: 1.4em;
    object-fit: cover;
    box-shadow: 8px 5px 10px rgb(182, 206, 212);
 }

 #secondo-blocco div {
    text-align: start;
    padding: 1em;
    padding-left: 2em;
 }

main figure {
    margin: 3em 0;
}

 main figure img {
    width: 100%;
    margin: 0.3em 0;
 }

 figcaption{
    font-size: 1.7em;
    display: inline;
 }
 a {
    color: rgb(0, 136, 255);
    text-decoration: none;
    margin-left: 2em;
    font-weight: 900;
    font-size: 1.3em;
    color: #066373;
 }

 /*Footer*/

 #striscia {
    background-color: #364757;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin= 0
 }

#striscia h2 {
    padding: 0.3em;
    margin:0;
}

 #bottom {
  background-color: #222f3f;
    text-align: center;
}

 #bottom img {
    padding: 3em;
    height: 100px;
 }